#{extends 'standardForm.html' /}
#{set title:'Naseljena mesta' /}

#{set 'prikazani'}
	idZaPrikaz
	#{/set}

<script>


function GetURLParameter(sParam)
	{
	    var sPageURL = window.location.search.substring(1);
	    var sURLVariables = sPageURL.split('&');
	    for (var i = 0; i < sURLVariables.length; i++)
	    {
	        var sParameterName = sURLVariables[i].split('=');
	        if (sParameterName[0] == sParam)
	        {
	            return sParameterName[1];
	        }
	    }
	}




$(document).ready(function(){
	var zaPrikazivanjeStoTreba = 0;
	//alert(GetURLParameter('id'));
	//zaPrikazivanjeStoTreba = GetURLParameter('id');
	//alert(zaPrikazivanjeStoTreba)
	$("#drzavaPickup").click(function(){
		id = $(".highlighted").find(".dr_id").html();
		$("select").val(id);
		$('#drzaveModal').modal('toggle');
	});
});

function sync(item){
	oznaka = item.find(".nm_oznaka").html()
    naziv = item.find(".nm_naziv").html()
    postanskiBroj = item.find(".nm_postanskiBroj").html()
    id = item.find(".nm_id").html()
    $("#naseljenoMesto_oznaka").val(oznaka);
    $("#naseljenoMesto_naziv").val(naziv);
    $("#naseljenoMesto_postanskiBroj").val(postanskiBroj);
    $("#naseljenoMesto_id").val(id);
}

function remove(id)
{
	alert(id);
	$(location).attr('href','/NaseljenaMesta/delete?id='+id);
	
}

</script>

<p>
<ul>
  <li><a href="@{NaseljenaMesta.show("search",null)}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{NaseljenaMesta.show("edit",null)}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{NaseljenaMesta.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Naseljena mesta</h1>

<table class="TabelaForme">
	<tr class = "header">
	   <th>Oznaka</th> 
	   <th>Naziv</th>
	   <th width="20%">Poštanski broj</th>
	   <th>Država</th>
	</tr>
#{list items:naseljenaMesta, as:'naseljenoMesto'}
	<tr #{if naseljenoMesto.id == selectedIndex} class = "highlighted" #{/if}>
		<td class = "nm_oznaka">${naseljenoMesto.oznaka}</td>
		<td class = "nm_naziv">${naseljenoMesto.naziv}</td>
		<td class = "nm_postanskiBroj">${naseljenoMesto.postanskiBroj}</td>
		<td class = "drzava">${naseljenoMesto.drzava.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${naseljenoMesto.id}</td>
	</tr>
#{/list}
</table>


#{set 'action'}
    #{if mode == 'add'}
        @{NaseljenaMesta.create()}
    #{/if}
    #{elseif mode == 'edit'}
        @{NaseljenaMesta.edit()}
    #{/elseif}
    #{else}
       @{NaseljenaMesta.filter()}
    #{/else}
  #{/set}
  



  
<div class = "panel">
	<p>
	
		<form action = "${action}">
		
				#{field 'naseljenoMesto.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'naseljenoMesto.oznaka'}
					<label for = "${field.id}">Oznaka</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'naseljenoMesto.naziv'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'naseljenoMesto.postanskiBroj'}
					<label for = "${field.id}">Poštanski broj</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'drzava'}
					<label for = "${field.id}">Država</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:drzave, as:'drzava'}
					<option value = "${drzava.id}">${drzava.naziv}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#drzaveModal">...	</button>
					 
					 <script>
					 	//alert(zaPrikazivanjeStoTreba);
					 	//document.getElementById('${field.id}').selectedIndex=zaPrikazivanjeStoTreba;
					 	document.getElementById('${field.id}').selectedIndex=GetURLParameter('id')-1;
					 </script>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

 <!-- Modal -->
  <div class="modal fade" id="drzaveModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Države
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Oznaka</th> 
		   <th>Naziv</th>
		</tr>
		#{list items:drzave, as:'drzava'}
		<tr>
			<td class = "oznaka">${drzava.oznaka}</td>
			<td class = "naziv">${drzava.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "dr_id">${drzava.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "drzavaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>
