
#{set title:'Index' /}

<h1>Mogucnosti: </h1>
<ul>
	<li><a href="@{Banke.show("search",null)}" id = "search">Banke</a></li>
	<li><a href="@{Racuni.show("search",null)}" id = "search">Racuni</a></li>
	<li><a href="@{AnalitikeIzvoda.show("search",null)}" id = "search">Analitike Izvoda</a></li>
	<li><a href="@{DnevnaStanjaRacuna.show("search",null)}" id = "search">Dnevna Stanja Racuna</a></li>
	<li><a href="@{Drzave.show("search",null)}" id = "search">Drzave</a></li>
	<li><a href="@{Klijenti.show("search",null)}" id = "search">Klijenti</a></li>
	<li><a href="@{MedjubankarskiPrenosii.show("search",null)}" id = "search">Medjubankarski Prenosi</a></li>
	<li><a href="@{NaseljenaMesta.show("search",null)}" id = "search">Naseljena Mesta</a></li>
	<li><a href="@{PravnaLica.show("search",null)}" id = "search">Pravna Lica</a></li>
	<li><a href="@{SifarniciDelatnosti.show("search",null)}" id = "search">Sifarnici Delatnosti</a></li>
	<li><a href="@{StavkePrenosaa.show("search",null)}" id = "search">Stavke Prenosa</a></li>
	<li><a href="@{UcitavanjeNalogaZaPrenos.show("search")}" id = "search">Ucitavanje Naloga Za Prenos</a></li>
	<li><a href="@{ZatvaranjaRacuna.show("search",null)}" id = "search">Zatvaranja Racuna</a></li>
</ul>