#{extends 'standardForm.html' /}
#{set title:'Valute' /}

<script>

function sync(item){
	sifra = item.find(".sifra").html()
    naziv = item.find(".naziv").html()
    id = item.find(".id").html()
    $("#valuta_sifra").val(sifra);
    $("#valuta_naziv").val(naziv);
    $("#valuta_id").val(id);
}

function remove(id)
{
	var answer = confirm("Are you sure you want to delete?");
	if(answer)
		{
			$(location).attr('href','/Valute/delete?id='+id);
		}
	else
		{
		
		}
	
}

function nextform(id)
{
	$(location).attr('href','/Racuni/nextMehanizam?id='+id+'&sta=val');
}

</script>




<p>
<ul>
  <li><a href="@{Valute.show("search",null)}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{Valute.show("edit",null)}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Valute.show("add",null)}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>




<h1>Valute</h1>

<table class="TabelaForme">
	<tr class = "header">
	   <th>Sifra</th> 
	   <th>Naziv</th>
	</tr>
#{list items:valute, as:'valuta'}
	<tr #{if valuta.id == selectedIndex} class = "highlighted trww" #{/if} class="trww">
		<td class = "sifra">${valuta.sifra}</td>
		<td class = "naziv">${valuta.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${valuta.id}</td>
	</tr>
#{/list}
</table>

<div class = "panel">
	<p>
	
		#{set 'action'}
		  #{if mode == 'add'}
		    @{Valute.create()}
		  #{/if}
		  #{elseif mode == 'edit'}
		    @{Valute.edit()}
		  #{/elseif}
		  #{else}
		    @{Valute.filter()}
		  #{/else}
		#{/set}
		
		
					#{ifErrors}
					   <h4>Oops…</h4>
					   <h6>Greska pri unosu</h6>
					   <br>
					#{/ifErrors}
					
		<form action=${action} method="post">
		
				#{field 'valuta.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'valuta.sifra'}
					<label for = "${field.id}">Sifra</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'valuta.naziv'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href="@{Valute.show("edit",null)}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

