#{extends 'standardForm.html' /}
#{set title:'Dnevna stanje racuna' /}

#{set 'prikazani'}
	idZaPrikaz
	#{/set}
	
<script>


function GetURLParameter(sParam)
	{
	    var sPageURL = window.location.search.substring(1);
	    var sURLVariables = sPageURL.split('&');
	    for (var i = 0; i < sURLVariables.length; i++)
	    {
	        var sParameterName = sURLVariables[i].split('=');
	        if (sParameterName[0] == sParam)
	        {
	            return sParameterName[1];
	        }
	    }
	}

$(document).ready(function(){
	var zaPrikazivanjeStoTreba = 0;
	//alert(GetURLParameter('id'));
	//zaPrikazivanjeStoTreba = GetURLParameter('id');
	//alert(zaPrikazivanjeStoTreba)
	$("#drzavaPickup").click(function(){
		id = $(".highlighted").find(".racun_id").html();
		$("select").val(id);
		$('#drzaveModal').modal('toggle');
	});
});

function sync(item){
	datum = item.find(".dsr_datum").html();
	prethodnoStanje = item.find(".dsr_prethodnoStanje").html();
	prometNaTeret = item.find(".dsr_prometNaTeret").html();
	prometUKorist = item.find(".dsr_prometUKorist").html();
	novoStanje = item.find(".dsr_novoStanje").html();
	racval = item.find(".racun").attr("value");
	id = item.find(".id").html();
	
	$("#dnevnoStanjeRacuna_datum").val(datum);
	$("#dnevnoStanjeRacuna_prethodnoStanje").val(prethodnoStanje);
	$("#dnevnoStanjeRacuna_prometNaTeret").val(prometNaTeret);
	$("#dnevnoStanjeRacuna_prometUKorist").val(prometUKorist);
	$("#dnevnoStanjeRacuna_novoStanje").val(novoStanje);
	$("#dnevnoStanjeRacuna_id").val(id);
	$("#racun").val(racval);
	
	
	
	/*
	oznaka = item.find(".nm_oznaka").html()
    naziv = item.find(".nm_naziv").html()
    //var smthn = highlighted;
	//console.log(item.find(".drzava").attr("value"))
	drzval = item.find(".drzava").attr("value");
    //drzava = item.find(".drzava").html();
	//console.log(drzava)
    postanskiBroj = item.find(".nm_postanskiBroj").html()
    id = item.find(".id").html()
    $("#naseljenoMesto_oznaka").val(oznaka);
    $("#naseljenoMesto_naziv").val(naziv);
    $("#naseljenoMesto_postanskiBroj").val(postanskiBroj);
    $("#naseljenoMesto_id").val(id);
    //console.log(drzava.val());
    $("#drzava").val(drzval);
    */
}

function remove(id)
{
	var answer = confirm("Are you sure you want to delete?");
	if(answer)
		{
			$(location).attr('href','/DnevnaStanjaRacuna/delete?id='+id);
		}
	else
		{
		
		}
	
	
}

</script>	
	
	
<p>
<ul>
  <li><a href="@{DnevnaStanjaRacuna.show("search",null)}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{DnevnaStanjaRacuna.show("edit",null)}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{DnevnaStanjaRacuna.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Dnevna stanja racuna</h1>

<table class="TabelaForme">
	<tr class = "header">
	   <th>Datum</th> 
	   <th>Prethodno Stanje</th>
	   <th>Promet na teret</th>
	   <th>Promet u korist</th>
	   <th>Novo stanje</th>
	   <th>Racun</th>
	</tr>
#{list items:dnevnaStanjaRacuna, as:'dnevnoStanjeRacuna'}
	<tr #{if dnevnoStanjeRacuna.id == selectedIndex} class = "highlighted trww" #{/if} class="trww">
		<td class = "dsr_datum">${dnevnoStanjeRacuna.datum}</td>
		<td class = "dsr_prethodnoStanje">${dnevnoStanjeRacuna.prethodnoStanje}</td>
		<td class = "dsr_prometNaTeret">${dnevnoStanjeRacuna.prometNaTeret}</td>
		<td class = "dsr_prometUKorist">${dnevnoStanjeRacuna.prometUKorist}</td>
		<td class = "dsr_novoStanje">${dnevnoStanjeRacuna.novoStanje}</td>
		<td value="${dnevnoStanjeRacuna.racun.id}" class = "racun">${dnevnoStanjeRacuna.racun.brojRacuna}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${dnevnoStanjeRacuna.id}</td>
	</tr>
#{/list}
</table>


#{set 'action'}
    #{if mode == 'add'}
        @{DnevnaStanjaRacuna.create()}
    #{/if}
    #{elseif mode == 'edit'}
        @{DnevnaStanjaRacuna.edit()}
    #{/elseif}
    #{else}
       @{DnevnaStanjaRacuna.filter()}
    #{/else}
  #{/set}
  
  
<div class = "panel">
	<p>
	
		<form action = "${action}">
		
				#{field 'dnevnoStanjeRacuna.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'dnevnoStanjeRacuna.datum'}
					<label for = "${field.id}">Datum</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'dnevnoStanjeRacuna.prethodnoStanje'}
					<label for = "${field.id}">Prethodno Stanje</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'dnevnoStanjeRacuna.prometNaTeret'}
					<label for = "${field.id}">Promet na teret</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'dnevnoStanjeRacuna.prometUKorist'}
					<label for = "${field.id}">Promet u korist</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'dnevnoStanjeRacuna.novoStanje'}
					<label for = "${field.id}">Novo stanje</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'racun'}
					<label for = "${field.id}">Racun</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:racuni, as:'racun'}
					<option value = "${racun.id}">${racun.brojRacuna}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#drzaveModal">...	</button>
					 
					 <script>
					 	//alert(zaPrikazivanjeStoTreba);
					 	//document.getElementById('${field.id}').selectedIndex=zaPrikazivanjeStoTreba;
					 	document.getElementById('${field.id}').selectedIndex=GetURLParameter('id')-1;
					 </script>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>
  
  
 <!-- Modal -->
  <div class="modal fade" id="drzaveModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Racuni
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Broj Racuna</th> 
		   <th>Klijent</th>
		   <th>Banka</th>
		</tr>
		#{list items:racuni, as:'racun'}
		<tr>
			<td class = "brojRacuna">${racun.brojRacuna}</td>
			<td class = "klijent">${racun.klijent.ime} ${racun.klijent.prezime}</td>
			<td class = "banka">${racun.banka.nazivBanke}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "racun_id">${racun.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "drzavaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>
 
  

